DB_MARIA_HOST=db
DB_MARIA_USER=NOMBRE_DEL_USUARIO_DE_LA_DATABASE
DB_MARIA_PASSWORD=CONTRASEÑA_DEL_USUARIO
DB_MARIA_DATABASE=NOMBRE_DE_LA_DATABASE
DB_CONNECTION_LIMIT=LIMITE_DE_CONECCIONES_A_LA_DATABASE
JWT_SECRET=TOKEN_SECRETO
DB_ROOT_PASSWORD=CONTRASEÑA_DEL_USUARIO_ROOT
CLIENT_ORIGIN=ORIGEN_DEL_FRONT
VITE_API_URL=URL_DEL_FRONT